# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# System Files
.DS_Store
Thumbs.db